@charset "UTF-8";

/* 
    Em HTML é id = em CSS é #
    Em HTML é class =  em CSS é .
*/

body{
    background-color: #CCC9DC;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: #1B2A41;
}
h2{
    color: #324A5F;
}
#principal{
    color: white;
    background-color: #0C1821;
    text-align: center;
}
.basico{
    color: #468a46;

}
.intermediario{
    color: #898a46;

}
.avancado{
    color: #8a4646;

}
.destaque{
    background-color: #537188;
}